spring:
  config:
    activate:
      on-profile: dev
    import: aws.yml, jwt.yml
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password: 
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
      pool-name: MYSQL_DB
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        default_batch_fetch_size: 500

